html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    /* color: white; */
}

#main{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.App {
    width: 100%;
    margin: 0 auto;
  }

.drag-wrapper {
    width: 200px;
    cursor: move;
    padding: 50px;
    text-align: center;  
    background: #e5e5e5;  
}

.head {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
    width:100%;
}